.footer {
    background-color: #023347;
    padding: 48px 0;
    color: #fff;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        span {
            font-size: 16px;
        }
    }

    &__nav {
        display: flex;
        gap: 24px;

        &-item {
            list-style: none;

            a {
                color: #fff;
                font-size: 16px;
            }
        }

        .link-item{
            &::after {
                background: #fff;
            }
        }
    }
}